[2021-09-10 06:44] TurnoverBnB opened #1 "The best vacuum cleaner machine for residential cleaning"
## What is the best quality vacuum cleaner on the market for residential cleaning?

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

[2021-09-10 06:47] TurnoverBnB commented on #1
My Request

Community vote
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-09-20 22:17] SamHoffer opened #2 "Building long-term client relationships"
## How to build meaningful and long lasting relationships with your clients

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

[2021-09-20 22:26] SamHoffer opened #3 "Best carpet cleaning products and practices for commercial clients"
## Most effective methods and necessary equipment for carpet cleanings

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

[2021-09-20 22:58] SamHoffer opened #4 "Insurance plans for a cleaning company owner"
## The best insurance companies and plans for the owner of a cleaning business.

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

[2021-09-20 23:23] SamHoffer opened #5 "Professional window cleaning: Getting started"
## Products, practices, and effective methods for all window cleaning projects.

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

[2021-09-20 23:26] SamHoffer opened #6 "Commercial Cleaning: What your business needs to know"
## The importance of cleaning an office and all areas that need to be covered.

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

[2021-09-20 23:31] SamHoffer opened #7 "Picking up after pets"
## Stains, shedded hair, and everything that a pet can dirty needs to be cleaned.

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

[2021-09-20 23:38] SamHoffer opened #8 "Creating a healthy working culture for your employees"
## Making a productive and healthy environment for employees to grow and thrive

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Community vote
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-09-20 23:41] SamHoffer opened #9 "Hiring new employees"
## Interview questions, qualified candidates, training, and more.

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Community vote
👍 Upvote if you like this topic
🚀 If you can make the article/video!

Thank you.

[2021-09-20 23:48] SamHoffer opened #10 "Power Washer and outdoor tools every cleaning/maintenance business should have"
### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

[2021-09-20 23:50] SamHoffer opened #11 "Home Exterior Cleaning Service"
### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

[2021-09-20 23:52] SamHoffer opened #12 "Residential whole home deep clean pricing"
## Every home is different, so how much should be charged?

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

[2021-09-20 23:54] SamHoffer opened #13 "Laundry and linen service as part of your business offering"
## Strong practices for a laundry and linen service company.

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

[2021-09-20 23:58] SamHoffer opened #14 "Making coffee stains disappear"
## Coffee can be a troublesome fluid to get out of fabrics, what is the best method to erasing a spill?

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

[2021-09-21 00:01] SamHoffer opened #15 "Clearing odors"
## Residential and commercial buildings can harbor unpleasant odors, how can these be neutralized?

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

[2021-09-21 00:08] SamHoffer opened #16 "Cleaning outdoor patios"
### A variety of materials are used to create outdoor patios. Similarly, there are many methods to keeping them clean.

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

[2021-09-21 00:10] SamHoffer opened #17 "Deep cleaning electronics"
## Personal devices are essential to employees of all industries, how can they be cleaned thoroughly and professionally?

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

[2021-09-21 00:12] SamHoffer opened #18 "Kitchen cleaning"
## Residential home kitchens should be properly cleaned from top to bottom.

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

When you submit your final draft send your file to community@taskbird.com

[2021-09-21 00:16] SamHoffer opened #19 "Bathroom cleaning guide"
## Cleaning residential and commercial bathrooms.

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

When you submit your final draft send your file to community@taskbird.com

[2021-09-21 00:39] SamHoffer opened #20 "Post lease cleaning"
## After a lease ends there are plenty of important steps to leaving the property in good condition

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

When you submit your final draft email the file to Commun

[2021-09-21 22:52] SamHoffer opened #21 "Car detailing"
## The exterior cleaning of a car is only half the battle, the interior of an automobile should also be cleaned to perfection.

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

When you submit your final dra

[2021-09-22 20:21] SamHoffer opened #22 "Oven cleaning"
### Safe and effective ways to clean ovens and stove tops.

Comment if you want to create content for this topic.

[2021-09-22 20:22] testclean52 commented on #22
I want to write a blog article about this topic!

[2021-09-22 20:26] SamHoffer commented on #22
Thank you for your interest @testclean52. Please submit your outline to the comment section to be reviewed by our admin.

[2021-09-22 20:52] testclean52 commented on #22
[BUS 345(SIS SH).docx](https://github.com/Taskbird/community-content/files/7213620/BUS.345.SIS.SH.docx)

Here is my outline

[2021-09-22 20:53] SamHoffer commented on #22
Thank you for uploading you outline. Everything looks good, please refer to the blog outline link in the topic for any questions about structure or length.

[2021-09-22 20:53] #22 closed

[2021-09-28 21:01] kaylabis commented on #4
Here's my outline for this topi
[Outline for blog.docx](https://github.com/Taskbird/community-content/files/7247270/Outline.for.blog.docx)
c:

[2021-09-28 21:03] SamHoffer commented on #4
Thank you submitting your outline @kaylabis we will get back to you with any comments after we have reviewed your work.

[2021-10-01 00:54] SamHoffer opened #23 "Using Github for cleaning industry content (test)"

[2021-10-01 00:55] testclean52 commented on #23
HI i'm Testclean52, I am interested in creating a blog article for this topic!

[2021-10-01 00:59] kaylabis commented on #23
Hi @testclean52, thanks for tackling this topic! Please submit your outline to this comment section once finished. Once received, we will approve your outline and you can get started writing your draft.

[2021-10-01 01:02] testclean52 commented on #23
[Guest Blog Writing Guidelines.pdf](https://github.com/Taskbird/community-content/files/7263340/Guest.Blog.Writing.Guidelines.pdf)

Here's my detailed outline @kaylabis. I hope everything is okay, but i'll refer back to this comment section for updates.

[2021-10-01 01:09] kaylabis commented on #23
Hi @testclean52, your outline is approved. You may now begin writing your final draft. Please see our blog guidelines for submitting the final.

[2021-10-01 01:12] testclean52 commented on #23
Okay thanks! @kaylabis I'll be emailing you shortly once i finish my final draft.

[2021-10-01 01:41] testclean52 commented on #23
[BLOGOUTLINE.docx](https://github.com/Taskbird/community-content/files/7263496/BLOGOUTLINE.docx)

[2021-10-01 01:51] #23 closed

[2021-10-01 01:52] SamHoffer opened #24 "Writing a blog for Taskbird in Github"
### How can a blog be properly written and submitted in this community?

### Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/main/Blog%20Guidlines.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

When you submit your final draft send your file to community@taskbird.com

[2021-10-01 02:09] kaylabis commented on #24
Hi @testclean52, thanks for tackling this topic! Please submit your outline to this comment section once you're finished. Once received, we'll approve your outline and you can get started writing your final draft.

[2021-10-01 02:10] testclean52 commented on #24
Okay thank you. I will submit it as soon as I have finished writing the outline.

[2021-10-01 02:11] testclean52 commented on #24
Here is my blog outline! @kaylabis
[BLOGOUTLINE.docx](https://github.com/Taskbird/community-content/files/7263649/BLOGOUTLINE.docx)

[2021-10-01 02:11] kaylabis commented on #24
Hi @testclean52 , your outline has been approved. You may now begin writing your final draft. Please refer to the blog guidelines for formatting and submitting your final draft.

[2021-10-01 02:12] testclean52 commented on #24
Okay, I will do that. Thank for approving it @kaylabis.

[2021-10-01 02:16] #24 closed

[2021-11-03 21:55] SamHoffer opened #25 "Hardwood floor cleaning"
Hardwood floors can be delicate cleaning projects and can be difficult to maintain over time. How can hardwood floors be kept shining?

Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

When you submit your final

[2021-11-04 23:42] SamHoffer opened #26 "Post construction cleaning"
After a construction project there are a lot of steps that should be taken to clean up the area.

Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

When you submit your final draft send your file to community@tas

[2021-11-11 13:26] Mr254Kenya commented on #25
Hello Sam, would like the opportunity to create a blog article for the topic. Here are a few of my samples, for other clients. Thanks
[The Ultimate List of Moving Supplies.docx](https://github.com/Taskbird/community-content/files/7520655/The.Ultimate.List.of.Moving.Supplies.docx)
[7 Tips to Manage Stress and Anxiety as a Remote Worker.docx](https://github.com/Taskbird/community-content/files/75206

[2021-11-11 14:24] Mr254Kenya commented on #25
[BLOG OUTLINE_ Hardwood floor cleaning #25 (2).docx](https://github.com/Taskbird/community-content/files/7521040/BLOG.OUTLINE_.Hardwood.floor.cleaning.25.2.docx)

[2021-11-11 14:44] Mr254Kenya commented on #14
Hello, SamHoffer, it would be my pleasure to help craft your content. Attached is basically the outline for the project. If you have any questions or corrections, they are all welcomed
[BLOG OUTLINE_ Making coffee stains disappear #14.docx](https://github.com/Taskbird/community-content/files/7521166/BLOG.OUTLINE_.Making.coffee.stains.disappear.14.docx)
.

[2021-11-13 17:34] ninjaclean commented on #19
Hi, I'd like to write on this topic. What are my next steps?

[2021-11-13 17:36] ninjaclean commented on #18
Hi, I'd like to create a blog article for this topic.

[2021-11-18 23:43] SamHoffer commented on #14
Hey @Mr254Kenya thank you for taking on this topic. Make sure you include a conclusion for your outline. Minimum requirement is 1,000 words. When you have completed more of the blog please email it to community@taskbird.com.

[2021-11-18 23:45] SamHoffer commented on #25
Hi @Mr254Kenya , I really like the outline you've made for this topic. Go ahead and complete the topic with a minimum of 1,000 words and submit it to community@taskbird.com. Reach out with any further questions!

[2021-11-18 23:47] SamHoffer commented on #19
@ninjaclean thank you for expressing you interest in this topic! Please submit an outline of your ideas for this topic. After we review it you can begin working on your final draft. Make sure to follow our blog guidelines. You can email any further work to community@taskbird.com or reach out on our forum.

[2021-11-18 23:50] SamHoffer commented on #18
@ninjaclean Thank you for taking this topic, we are excited to see the article you produce for this. Make sure to stick to the [blog guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf) listed above. When you complete you outline please share it with us here or send to the email community@taskbird.com.

[2021-11-19 19:18] ninjaclean commented on #19
Hi Sam Hoffer,
I would like to send you an outline for my article on cleaning bathrooms. I’m working on that now but wanted to explore the idea of expanding this bathroom cleaning section to include a variety of articles. Please advise if I should go ahead and prepare outlines for each bathroom cleaning approach listed below.
I would like to do three or four separate articles on this subject becau

[2021-11-20 18:40] Mr254Kenya commented on #25
Thanks, I'm on it

[2021-11-20 21:31] Mr254Kenya commented on #25
Hello Sam Hoffer

Can you please avail to me the website for internal linking

On Fri, Nov 19, 2021 at 2:45 AM Sam Hoffer ***@***.***> wrote:

[2021-11-22 18:18] SamHoffer commented on #25
Hello @Mr254Kenya the website is Taskbird.com.

[2021-11-22 18:42] SamHoffer commented on #19
@ninjaclean, these are all really great ideas for this topic! One longer blog that covers these subjects would be more suitable as apposed to several different/shorter articles, however. If you want to create a blog that includes all of these ideas or even just a couple that would be a great start.

Additionally, we do accept videos that cover the same genre of topics if that seems like something

[2021-11-22 18:58] Mr254Kenya commented on #25
Okay . Had already sent the document but let me do internal backlinking and
then I resend it immediately

On Mon, Nov 22, 2021 at 9:18 PM Sam Hoffer ***@***.***> wrote:

[2021-11-23 21:28] #25 closed

[2021-11-24 03:40] GageMcClark commented on #2
I would like to write for this topic. I have experience as a small business owner and I think it would be a great fit!

[2021-11-24 03:57] GageMcClark commented on #2
Here is my outline if this topic is still available. Thank you!
[Outline TOPIC #2](https://github.com/Taskbird/community-content/files/7592605/Topic.2.docx)

[2021-11-24 19:57] GageMcClark commented on #2
Thank you @GageMcClark for your outline, I will approve you to write an article for this topic. However, I do request that you include how this topic can directly effect a cleaning company specifically.

[2021-11-24 19:58] SamHoffer commented on #2
Thank you @GageMcClark for your outline, I will approve you to write an article for this topic. However, I do request that you include how this topic can directly effect a cleaning company specifically.

[2021-11-24 23:31] #2 closed

[2021-11-28 13:14] Mr254Kenya commented on #14
Okay, @SamHoffer I managed to complete the task and sent it as requested. Thank you for the opportunity. Regards

[2021-11-29 09:40] Mr254Kenya commented on #4
Hello, @SamHoffer I'm requesting the opportunity to handle this particular issue. Attached is a general outline of how I plan to approach the web post.

[Blog Article Outline_ Insurance plans for a cleaning company owner #4.docx](https://github.com/Taskbird/community-content/files/7617179/Blog.Article.Outline_.Insurance.plans.for.a.cleaning.company.owner.4.docx)
.

[2021-11-29 18:41] #14 closed

[2021-11-29 19:27] SamHoffer commented on #4
@Mr254Kenya, your outline looks good. I ask that you include popular insurance companies that cleaning companies currently use and why those are good/bad choices. Otherwise, we are looking forward to reading more about this topic.

[2021-11-29 21:13] Mr254Kenya commented on #4
Hello, Sam, thanks for the reply.

Okay, will try my best to include the information requested.

Regards

On Mon, Nov 29, 2021 at 10:27 PM Sam Hoffer ***@***.***>
wrote:

[2021-12-01 22:37] #4 closed

[2021-12-01 23:05] SamHoffer opened #27 "What is deep cleaning?"
How often, what to charge, proper methods?
Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

When you submit your final draft send your file to community@taskbird.com

[2021-12-01 23:07] SamHoffer opened #28 "How to find clients and generate valuable leads"
Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

When you submit your final draft send your file to community@taskbird.com

[2021-12-02 20:05] ebolton3 commented on #18
If this topic is still open, I'd like to create a blog article for this topic

[2021-12-02 20:08] SamHoffer commented on #18
@ninjaclean Are you still available to write for this topic? Please respond promptly as we do have other community members who are interested in this issue.

[2021-12-02 20:12] SamHoffer commented on #18
@ebolton3 I will notify you when we can confirm that this piece has not been taken by another community member. Thank you for your understanding. If there is another topic that you are interested in please let me know.

[2021-12-02 20:14] ninjaclean commented on #18
Hi, yes Sam Hoffer, I will have the outline to you by tomorrow. The outline for bathroom cleaning will be sent to you today. Assuming the outlines are good, I can have both completed by Monday. Please let me know if that works for you.
Thanks, Ninjaclean

Sent with [ProtonMail](https://protonmail.com/) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, December 2nd, 2021 at 3:05 PM, ebol

[2021-12-02 20:18] SamHoffer commented on #18
@ninjaclean Yes, this works for me. Glad to hear the pieces are coming along well, I'll review the outlines upon their arrival and will notify you of any changes that should be made.

[2021-12-02 20:20] SamHoffer opened #29 "Neighborhood Snow Plowing Business"
The winter season upon us, how can you capitalize?
Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

When you submit your final draft send your file to community@taskbird.com

[2021-12-02 20:23] SamHoffer opened #30 "Satisfaction Guarantee: a good business practice or recipe for disaster?"
How can a satisfaction guarantee attract business? Does is lead to more problems? How can this help a cleaning business?

Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

When you submit your final draft send yo

[2021-12-02 20:25] SamHoffer opened #31 "Marketing for your cleaning business"
Digital, word of mouth, traditional marketing, etc. What are the best ways to advertise a cleaning business?

Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

When you submit your final draft send your file to c

[2021-12-02 20:26] ebolton3 commented on #1
Hi, I'd like to create an outline for this topic. I will have it emailed to you by tomorrow (12.3). Thank you.

[2021-12-02 21:49] SamHoffer commented on #1
@ebolton3 please submit your outline to the comment section here. After it is approved you can submit your final piece to community@taskbird.com

[2021-12-02 23:42] thaitee commented on #8
Hi, I'm interested in writing an article for this topic. Can I send my outline to an email address?

[2021-12-03 01:13] SamHoffer commented on #8
@thaitee Thank you for reaching out about this topic, please submit your outline to this comment thread. After it has been approved you may submit your final piece to community@taskbird.com.

[2021-12-03 01:58] GageMcClark commented on #29
I think I have a good idea for this topic. How to start a small business is what I was going to use for the outline.

[2021-12-03 02:04] SamHoffer commented on #29
@GageMcClark Yes, anything along those lines works, if you are in a snowy area and are comfortable making a video about this topic that would be great! If not you can submit you outline whenever you are ready.

[2021-12-03 02:08] GageMcClark commented on #29
@SamHoffer I am in a snowy area but there unfortunately is enough snow fall for a snow plowing video quite yet. I will submit  a written article but I am open to a video.

[2021-12-03 22:05] GageMcClark commented on #29
[Snow plowing.docx](https://github.com/Taskbird/community-content/files/7652588/Snow.plowing.docx)
This is my outline for the snow plowing.

[2021-12-03 22:13] SamHoffer commented on #29
@GageMcClark just read it over, everything looks really good. If you can include product recommendations that would be perfect. Something for the shovel, snow plow, and salt. Possibly describe the business info that should be handed out to the customers(business card?) Otherwise you are free to create the final draft of this topic.

[2021-12-05 06:56] Mr254Kenya commented on #19
@SamHoffer I'm not sure if the topic is already being handled since I see interest from a fellow content creator. But, if it is not being handled, I request the opportunity to tackle it. Attached is a general outline of how I wish to approach the task. Of course, you can point out anything that may need to be added. Regards
[General Outline_ Bathroom Cleaning Guide #19.docx](https://github.com/Tas

[2021-12-05 07:08] Mr254Kenya commented on #26
@SamHoffer Hope you are doing great? I register my interest to handle this particular issue. Attached is a general outline of how I plan to approach the content. Regard
[General Task Outline_ Post construction cleaning #26.docx](https://github.com/Taskbird/community-content/files/7655384/General.Task.Outline_.Post.construction.cleaning.26.docx)
s

[2021-12-06 01:44] cassiclean opened #32 "Cleaning ergonomic and cheap"
Seasoned cleaners have lots of tricks, save your body and wallet without short cutting the cleaning

[2021-12-06 19:37] cassiclean commented on #32
I wrote an article for this topic

[2021-12-07 20:23] SamHoffer commented on #32
@cassiclean Thank you for tackling this article. Please share your outline/final draft with (email) community@taskbird.com for approval.

[2021-12-07 20:25] SamHoffer commented on #26
@Mr254Kenya Thank you for your interest in this topic. After reviewing your outline I think it's a great start to this article. Please submit your final piece to the community email.

[2021-12-07 20:27] SamHoffer commented on #19
@Mr254Kenya I am going to give the other writer on this topic a few more days to submit this piece due to them claiming it first. However, I will notify you if we are able to assign this piece to you instead if there are no further submissions. This will show up as a "closed issue" for the time being. Thank you for your understanding.

[2021-12-07 20:28] #19 closed

[2021-12-07 20:32] Mr254Kenya commented on #26
Okay, will do so as soon as possible.

On Tue, Dec 7, 2021 at 11:25 PM Sam Hoffer ***@***.***> wrote:

[2021-12-08 23:19] cassiclean commented on #27
id like to write on this topic

[2021-12-08 23:56] #32 closed

[2021-12-08 23:57] SamHoffer commented on #27
@cassiclean great! Please submit an outline of your article to this comment section before beginning your final piece.

[2021-12-09 00:02] cassiclean commented on #27
I will cover:
      how often to deep clean:
-a residential
-a STR
-homes with pets
      pricing of a deep clean and why to charge this way
-how tp pay help on deep clean
what does a deep clean truly consist of
final touches that clients appreciate
selling points of more frequent deep cleanings

[2021-12-09 00:14] cassiclean commented on #27
@SamHoffer is that outline sufficient? I'm new to this and I just want to do a good job so please tell me any improvements I need to make.

[2021-12-10 20:34] #29 closed

[2021-12-10 20:34] #26 closed

[2021-12-11 16:35] cassiclean commented on #21
I’d like to create a video for this topic

[2021-12-11 17:15] cassiclean commented on #27
@SamHoffer  I am almost finished with this article

[2021-12-13 20:09] SamHoffer commented on #27
@cassiclean Looking forward to the final piece!

[2021-12-13 20:11] SamHoffer commented on #21
Sounds great @cassiclean, let me know if you need any feedback or help!

[2021-12-13 20:12] SamHoffer commented on #18
@ebolton3 It appears that our user who previously chose this topic is no longer able to complete it. If you still want to write about this topic please let me know.

[2021-12-13 21:17] cassiclean commented on #21
@SamHoffer  could you give me some guidelines for videos? such as how long it should be and any big dos or dont's for videos?

[2021-12-13 21:18] cassiclean commented on #27
I have submitted this final piece

[2021-12-13 21:24] cassiclean commented on #28
Id like to write on this topic
@SamHoffer

Outline:
Finding clients from word of mouth
creating value to your name
Using online platforms to find work
Hands on interactions create the best leads
keeping clients happy

[2021-12-13 23:05] cassiclean commented on #1
has anyone written on this issue yet? if not, I'd like to do so.

[2021-12-13 23:52] SamHoffer commented on #27
@cassiclean received!

[2021-12-13 23:52] #27 closed

[2021-12-14 12:18] Mr254Kenya commented on #15
Hello, @SamHoffer hope you are alright? I request an opportunity to handle this issue/task.  Attached is the general outline of how I plan to approach the task. Thanks
[General Article Outline_ Clearing odors #15.docx](https://github.com/Taskbird/community-content/files/7711529/General.Article.Outline_.Clearing.odors.15.docx)

[2021-12-14 12:46] Mr254Kenya commented on #17
Hello @SamHoffer, I request the opportunity to tackle this issue. Attached is the general outline of how I plan to approach the task. Regards
[Deep cleaning electronics #17.docx](https://github.com/Taskbird/community-content/files/7711703/Deep.cleaning.electronics.17.docx)

[2021-12-14 13:51] cassiclean commented on #28
Article on Finding clients complete and emailed.

[2021-12-14 20:45] SamHoffer commented on #21
@cassiclean we are looking for tutorial style videos and your best practices in this particular subject of cleaning. Try to keep the movement of the camera to a minimum as this can be hard to watch at times. This video will be used for Taskbird after the payment has been completed so we ask that you do not include advertising for your personal business. However, your bio will be visible to those w

[2021-12-14 20:46] SamHoffer commented on #1
@cassiclean we are going to give the previous user who claimed this topic a few more days to submit their piece. If by then nothing has been submitted we will allow you to tackle this topic instead. Thank you for understanding.

[2021-12-15 00:51] SamHoffer commented on #15
@Mr254Kenya I like your outline. Something that is usually up for discussion when focusing on odors and how to cover them up, is the type of product that is used or the ingredients used in certain products. This is brought up for many reasons such as, allergies and client preferences. If you can include a way to clear odors for allergy and scent sensitive clients that would be great! Otherwise, ha

[2021-12-15 00:54] SamHoffer commented on #17
@Mr254Kenya Your outline looks good but if you could include a "common mistake" area and what to avoid when cleaning your electronics. Also include a way that people can better locate businesses that specialize in computer care( if not possible no worries).

[2021-12-15 00:58] #28 closed

[2021-12-15 21:49] cassiclean commented on #18
@SamHoffer id like to tackle this if there’s no one else on it

[2021-12-16 01:29] cassiclean commented on #12
Id like to write on this topic

Outline:
Do's and Dont's section
Protect you profits section
Hourly rate vs Flat rate in residential

[2021-12-17 02:34] cassiclean commented on #12
Article wrote, submitted and invoice sent! @SamHoffer

[2021-12-17 02:37] cassiclean commented on #20
I would like to tackle this topic

Outline
removal  of anything left by previous tenants (how to potentially earn extra here)
Full clean of each room
entry way and patio areas
how to charge for this type of cleaning

[2021-12-20 21:18] cassiclean commented on #18
Is this topic still available to be written? I have

[2021-12-20 21:20] cassiclean commented on #9
I would like to write this one

[2021-12-20 23:20] #17 closed

[2021-12-20 23:20] #15 closed

[2021-12-20 23:21] SamHoffer commented on #9
Hello @cassiclean , I believe another community member has asked to write about this but if they do not respond soon I will approve you for this article.

[2021-12-20 23:23] SamHoffer commented on #9
@cassiclean sounds good, please include a detailed outline of this topic. We are looking for this article to be very in depth and over 1,000 words.

[2021-12-20 23:33] cassiclean commented on #9
@SamHoffer I will email an outline tomorrow

[2021-12-21 01:56] SamHoffer opened #33 "Why You Should Start a Cleaning Business, and What to Know Before You Get Started."
Follow [Blog Guidelines](https://github.com/Taskbird/community-content/blob/76087ede06901ab5b395ed4cf776a4b217335f4d/Guest%20Blog%20Writing%20TB%20Mid_.pdf)

Comment bellow if you want to create a blog article or a video for this topic!

When you submit your final draft send your file to community@taskbird.com

[2021-12-21 20:45] cassiclean commented on #9
@SamHoffer outline has been sent

[2021-12-21 21:04] SamHoffer commented on #18
@cassiclean Yes it is, please go ahead and share your outline for this topic.

[2021-12-21 21:04] SamHoffer commented on #9
@cassiclean Thank you, a response has been sent to you.

[2021-12-21 21:05] #9 closed

[2021-12-27 21:10] SamHoffer commented on #20
@cassiclean apologies for the late response. I like your outline, but do you think you could include how a cleaning business could find clients that are in need of post lease cleaning. Marketing, lead generation, where to look for clients of the sort? Let me know if you have questions.

[2021-12-27 21:11] #12 closed

[2022-01-04 01:01] GageMcClark commented on #31
I would like to write about this. I have experience in starting a company and helping existing gain more customers.

[2022-01-04 01:02] SamHoffer commented on #31
@GageMcClark When you have an outline ready please send it to me or the community@taskbird.com email. Thank you and looking forward to reading this.

[2022-01-04 16:31] cassiclean commented on #18
@SamHoffer Article has been emailed on this issue

[2022-01-04 18:27] GageMcClark commented on #31
I have sent in my final draft, let me know if there are any changes I can make. The last article that I wrote was about using snow plowing as a marketing tool. I was thinking it would be a good link in this article but I don't see it posted in Taskbird website. thanks @SamHoffer

[2022-01-04 18:30] SamHoffer commented on #31
@GageMcClark  everything looks great, thank you for sending your invoice too. I will see what we can do as far as back linking the articles that you have written. Thanks for the suggestion.
Please notify me when you have received payment.

[2022-01-04 18:30] #31 closed

[2022-01-04 18:32] SamHoffer commented on #18
@cassiclean Thank you for submitting your article, payment should be completed to you sortly. Please let me know when you have received it!

[2022-01-04 18:32] #18 closed

[2022-01-04 18:33] cassiclean commented on #18
Will do! I am finishing up my post cleaning article as we speak

On Tue, Jan 4, 2022 at 1:32 PM Sam Hoffer ***@***.***> wrote:

[2022-01-04 18:55] cassiclean commented on #20
article written and emailed

[2022-01-04 19:00] cassiclean commented on #7
I have tons of experience in dealing with cleaning up after pets from the pet-friendly STR I clean and the 2 dogs I clean up after in my own home. I can put together great information for this topic and would like to do so.

[2022-01-04 19:07] SamHoffer commented on #7
@cassiclean I think this topic can only be written from those with first hand experience, so that is great. I do ask that you submit video content too. When you submit your ideas and information and we can go over some ideas for a video!

[2022-01-04 19:08] SamHoffer commented on #20
@cassiclean Received! Thank you, I am reviewing it right now.

[2022-01-04 19:15] cassiclean commented on #7
pet mess removal

steps keep pet hair to a minimal and complete removal from STR
essential tools for cleaning up after pets with product links
Dealing with pet urine and feces
I have tons of before and after pet mess photos

when I make videos does it have to show me doing the cleaning?
what other video ideas do you have?

On Tue, Jan 4, 2022 at 2:07 PM Sam Hoffer ***@***.***> wrote:

[2022-01-04 19:46] SamHoffer commented on #7
@cassiclean I really like these ideas and the photos will really strengthen this article too. For the video you can show as much as you self as you are comfortable with. A single arm POV angle of the pet cleaning could be good. Something that shows an arm (doesn't have to be you) cleaning lots of pet hair off surfaces, a fake or real pet mess being cleaned in steps.

I was thinking if you want to

[2022-01-04 19:50] cassiclean commented on #7
okay, great, I will get to it. thanks!

On Tue, Jan 4, 2022 at 2:47 PM Sam Hoffer ***@***.***> wrote:

[2022-01-04 20:53] SamHoffer commented on #7
@cassiclean Looking forward to it! And as always reach out if you need anything

[2022-01-07 22:03] jfaria14 commented on #16
Hi, I'd like to write an article for this topic

[2022-01-08 00:14] SamHoffer commented on #16
Hey @jfaria14 thanks for reaching out! if you can please share your outline ideas for how you are going to tackle this topic that would be great. Additionally, if you are able to create a video for this topic instead of/ in conjunction with this article it would be preferred. Let me know if you have any questions, and welcome to the creators community!

[2022-01-08 00:54] jfaria14 commented on #16
@SamHoffer Sure I'll send the outline soon. This one I'll write but maybe the next one I can do a video thanks

[2022-01-08 00:56] jfaria14 commented on #16
[Outdoor Patio Cleaning_ Outline.docx](https://github.com/Taskbird/creator-community/files/7832062/Outdoor.Patio.Cleaning_.Outline.docx)

[2022-01-08 01:13] SamHoffer commented on #16
@jfaria14, looks great! Go ahead and get started on your final draft. You can send your document to community@taskbird.com whenever you are finished.

[2022-01-10 19:03] #20 closed

[2022-01-10 19:04] #7 closed

[2022-01-13 10:43] Mr254Kenya commented on #3
Hello, @SamHoffer hope you and your team have had a great start to this year? I request to tackle this issue. I have attached the general outline for the task/article and of course, if you have anything you think I should add, please point it out and I will be more than happy to take a look at it. Regards
[General Draft_Best carpet cleaning products and practices for commercial clients #3.docx](ht

[2022-01-13 11:07] Mr254Kenya commented on #11
Hello @SamHoffer, I request your permission to handle this task/issue. Attached is the proposed general article outline. You can share with me if there is any content that can be added. Regards
[General Draft_ Home Exterior Cleaning Service #11.docx](https://github.com/Taskbird/creator-community/files/7862217/General.Draft_.Home.Exterior.Cleaning.Service.11.docx)

[2022-01-13 11:25] Mr254Kenya commented on #33
Hello, @SamHoffer I request your permission to handle this issue/topic. Attached is the proposed general outline for the blog post. Regards
[General Draft_ Things I wish I knew Before I Started a Cleaning Business #33.docx](https://github.com/Taskbird/creator-community/files/7862330/General.Draft_.Things.I.wish.I.knew.Before.I.Started.a.Cleaning.Business.33.docx)

[2022-01-13 21:41] cassiclean opened #34 "Tips for cleaning during winter weather"
Over the years bad weather had create challenges for cleaners. Tips for dealing with these issues could be very useful to some

[2022-01-13 23:34] cassiclean commented on #34
outline for this topic has been emailed @SamHoffer

[2022-01-18 18:42] SamHoffer commented on #34
Outline is received and approved, I'll be eagerly awaiting this piece. Thank you @cassiclean

[2022-01-18 18:49] SamHoffer commented on #33
Hello @Mr254Kenya I do like the direction this article is going, however, I would like this piece to be covered from the perspective of an already established cleaning business owner.

I am happy to change this topic to more closely fit your outline of " Why you should start a cleaning business, and what to know before you get started"

If you are okay with this I will approve your outline for the

[2022-01-18 18:50] SamHoffer opened #35 "Things I wish I knew Before I Started a Cleaning Business"

[2022-01-18 19:10] SamHoffer commented on #3
Hey @Mr254Kenya, great start to the year and looking forward to all that will come! Hoping the same for you! I'm really liking this outline, great framework for some awesome detail. Looking forward to reading more about it!

and again, thank you for you time.

[2022-01-18 20:37] Mr254Kenya commented on #3
Thanks for replying and approving the outline. I will work on it.

On Tue, Jan 18, 2022, 10:10 PM Sam Hoffer ***@***.***> wrote:

[2022-01-18 20:42] Mr254Kenya commented on #33
Hello, thanks for the reply, feels great to hear from you. If you can
approve the outline to match the revised topic that would be great.

On Tue, Jan 18, 2022, 9:49 PM Sam Hoffer ***@***.***> wrote:

[2022-01-19 00:14] SamHoffer commented on #33
@Mr254Kenya you are good to go! Happy Writing!

[2022-01-19 23:54] SamHoffer commented on #11
@Mr254Kenya Hey, I like this outline! Do you think you'd be able to include information on how this may effectively reduce allergies for resident in the house. If not, not to worry but I think it could be a valuable piece of info!

[2022-01-20 05:47] Mr254Kenya commented on #11
Hello, thanks for the reply. I believe I can search for the information
requested and add it to the content.

On Thu, Jan 20, 2022, 2:54 AM Sam Hoffer ***@***.***> wrote:

[2022-01-25 12:52] LimpiezasVV commented on #35
Things I wish I knew before starting a cleaning business. I would like to make a video on this topic. What email address can I send it to? Thanks!

[2022-01-25 17:44] cassiclean commented on #34
the article has been submitted via email.

[2022-01-25 18:32] SamHoffer commented on #34
@cassiclean thank you, I will begin reviewing it ASAP

[2022-01-25 20:13] cassiclean opened #36 "Effective business communication"
Effective communication between property owners and service (cleaning and beyond) workers can be uncomfortable and stressful. What are a few things to make the conversation pleasant and productive ?

[2022-01-25 20:14] cassiclean commented on #36
@SamHoffer  I have an outline for this topic that I will email to you for approval. Thanks in advance

[2022-01-25 23:37] #3 closed

[2022-01-25 23:38] SamHoffer opened #37 "Best Carpet Cleaning Products to use for Commercial and Residential Clients: VIDEO ONLY"
[Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf)

Email [Community@Taskbird.com](mailto:Community@Taskbird.com) you submissions and questions OR comment below

If you're new here read [How it works](https://github.com/Taskbird/creator-community/blob/main/How%20It%20Works.md) to take the right steps

[2022-01-25 23:38] #34 closed

[2022-01-28 07:31] Mr254Kenya commented on #6
Hello, @SamHoffer, hope all is well? I request the opportunity to create a blog article on this topic. I have supplied you with the general article framework. If you can think of any other important part left out, please let me know. Regards
[General Article Guideline_ Commercial Cleaning_ What your business needs to know #6.docx](https://github.com/Taskbird/creator-community/files/7956655/General

[2022-01-29 00:47] jfaria14 commented on #16
Hi sam

Here is my finished article. let me know if I need to change anything.

Thank you, Joselyn

On Fri, Jan 7, 2022 at 3:13 PM Sam Hoffer ***@***.***> wrote:

[2022-01-29 00:52] jfaria14 commented on #5
Hi I can write an article about this topic and maybe create a video about it. Let me know

[2022-01-29 02:48] jfaria14 commented on #16
My apologies,

Here is the completed invoice for your review.

Thank you, Joselyn

On Fri, Jan 28, 2022 at 2:47 PM Joselyn Faria ***@***.***> wrote:

[2022-02-01 21:42] #33 closed

[2022-02-01 21:43] #16 closed

[2022-02-01 21:43] #11 closed

[2022-02-01 21:45] SamHoffer commented on #5
@jfaria14 Hi, thank you for expressing your interest in this topic. Any video content that can be made for this topic would be preferred over the written piece. You are still welcome to write a topic, however.

Please view our video guidelines in the "<> Code" tab in the top left of your page. Please reach out with any questions you have.

[2022-02-04 21:21] cassiclean commented on #36
@SamHoffer This article has been submitted and an invoice emailed.

[2022-02-08 19:50] SamHoffer commented on #36
@cassiclean thank you very much. Payment should be on the way to you if it has not already been.

[2022-02-08 19:57] SamHoffer commented on #6
@Mr254Kenya I like your outline but I think the confusion here is in the topic provided.
If I am wrong please correct me. However, I think it would be great to have this written for an audience that is looking to provide cleaning services to companies. Things to include might be the frame work of a cleaning company that specializes in commercial cleaning services, the price points, types of client

[2022-02-08 20:13] cassiclean commented on #36
I did receive it. Thank you.

On Tue, Feb 8, 2022 at 2:50 PM Sam Hoffer ***@***.***> wrote:

[2022-02-08 20:57] Mr254Kenya commented on #6
@SamHoffer Hello, it is great to hear from you. Definitely, I agree that the topic given was maybe a bit confusing and not specific, that is why it may have pushed me to approach the task in a manner I had outlined. I now have a bit of an idea of what you meant. I can try and come up with a guideline to that effect or you try and refine the topic first before I come up with a potential guideline.

[2022-02-08 21:58] cassiclean commented on #30
@SamHoffer  I will be submitting an outline for this topic

[2022-02-15 10:31] Mr254Kenya commented on #10
@SamHoffer hello, I'm interested in providing a blog post for this issue. Attached is the general outline of my approach to tackling the issue. Regards
[General Article Outline_ Power Washer and outdoor tools every cleaning_maintenance business should have #10.docx](https://github.com/Taskbird/creator-community/files/8068260/General.Article.Outline_.Power.Washer.and.outdoor.tools.every.cleaning_ma

[2022-02-15 21:19] #30 closed

[2022-02-15 21:21] SamHoffer commented on #10
@Mr254Kenya  Yeah, I'm liking this list, looks great! looking forward to the final piece

[2022-02-15 21:24] SamHoffer opened #38 "Power Washer and outdoor tools every cleaning/maintenance business should have: VIDEO & WRITTEN"
### Please review the [Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf)

Email community@taskbird.com or comment bellow with any questions on [what to do](https://github.com/Taskbird/creator-community/blob/main/How%20It%20Works.md) !

[2022-02-16 18:33] SamHoffer commented on #6
@Mr254Kenya This is exactly what I was hoping for for this article, thank you for making the adjustments! Whenever you have the final draft I'll be happy to go through it again.

[2022-02-22 22:14] SamHoffer opened #39 "Hiring a new cleaner/ team member: interview questions and answer: VIDEO & WRITTEN"
### [Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf)

### Email Community@Taskbird.com you submissions and questions OR comment below

If you're new here read [How it works](https://github.com/Taskbird/creator-community/blob/main/How%20It%20Works.md) to take the right steps

[2022-03-01 21:27] SamHoffer opened #40 "How to Market Your Cleaning Business: VIDEO ONLY"
[Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf)

Email [Community@Taskbird.com](mailto:Community@Taskbird.com) you submissions and questions OR comment below

If you're new here read [How it works](https://github.com/Taskbird/creator-community/blob/main/How%20It%20Works.md) to take the right steps

[2022-03-01 21:27] SamHoffer opened #41 "Accounting Software for Your Cleaning Business: VIDEO & WRITTEN"
[Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf)

Email [Community@Taskbird.com](mailto:Community@Taskbird.com) you submissions and questions OR comment below

If you're new here read [How it works](https://github.com/Taskbird/creator-community/blob/main/How%20It%20Works.md) to take the right steps

[2022-03-01 21:28] SamHoffer opened #42 "7 Reasons Why You Should Hire a Cleaning Service: VIDEO & WRITTEN"
[Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf)

Email [Community@Taskbird.com](mailto:Community@Taskbird.com) you submissions and questions OR comment below

If you're new here read [How it works](https://github.com/Taskbird/creator-community/blob/main/How%20It%20Works.md) to take the right steps

[2022-03-01 21:28] SamHoffer opened #43 "Start-up Costs for a Cleaning Business: VIDEO & WRITTEN"
[Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf)

Email [Community@Taskbird.com](mailto:Community@Taskbird.com) you submissions and questions OR comment below

If you're new here read [How it works](https://github.com/Taskbird/creator-community/blob/main/How%20It%20Works.md) to take the right steps

[2022-03-01 21:29] SamHoffer opened #44 "How Photography Can Help Your Cleaning Service: VIDEO & WRITTEN"
[Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf)

Email [Community@Taskbird.com](mailto:Community@Taskbird.com) you submissions and questions OR comment below

If you're new here read [How it works](https://github.com/Taskbird/creator-community/blob/main/How%20It%20Works.md) to take the right steps

[2022-03-01 21:29] SamHoffer opened #45 "Organization for a Cleaning Service on a Budget: VIDEO & WRITTEN"
[Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf)

Email [Community@Taskbird.com](mailto:Community@Taskbird.com) you submissions and questions OR comment below

If you're new here read [How it works](https://github.com/Taskbird/creator-community/blob/main/How%20It%20Works.md) to take the right steps

[2022-03-01 21:30] SamHoffer opened #46 "Best Natural Cleaning Products for Cleaning Companies: VIDEO & WRITTEN"
[Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf)

Email [Community@Taskbird.com](mailto:Community@Taskbird.com) you submissions and questions OR comment below

If you're new here read [How it works](https://github.com/Taskbird/creator-community/blob/main/How%20It%20Works.md) to take the right steps

[2022-03-01 21:31] SamHoffer opened #47 "Tips for Gaining New Clients for Your Cleaning Service: VIDEO & WRITTEN"
[Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf)

Email [Community@Taskbird.com](mailto:Community@Taskbird.com) you submissions and questions OR comment below

If you're new here read [How it works](https://github.com/Taskbird/creator-community/blob/main/How%20It%20Works.md) to take the right steps

[2022-03-01 21:48] SamHoffer opened #48 "Hiring a new cleaner/ team member: interview questions and answer: VIDEO ONLY"
[Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf)

Email [Community@Taskbird.com](mailto:Community@Taskbird.com) you submissions and questions OR comment below

If you're new here read [How it works](https://github.com/Taskbird/creator-community/blob/main/How%20It%20Works.md) to take the right steps

[2022-03-01 21:48] SamHoffer commented on #48
[Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf)

Email [Community@Taskbird.com](mailto:Community@Taskbird.com) you submissions and questions OR comment below

If you're new here read [How it works](https://github.com/Taskbird/creator-community/blob/main/How%20It%20Works.md) to take the right steps

[2022-03-01 21:50] SamHoffer opened #49 "Power Washing and Outdoor Tools Every Cleaning/ Maintenance Business Should Have: VIDEO ONLY"
[Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf)

Email [Community@Taskbird.com](mailto:Community@Taskbird.com) you submissions and questions OR comment below

If you're new here read [How it works](https://github.com/Taskbird/creator-community/blob/main/How%20It%20Works.md) to take the right steps

[2022-03-01 21:51] SamHoffer opened #50 "Best Carpet Cleaning Products for Commercial and Residential Clients: VIDEO ONLY"
[Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf)

Email [Community@Taskbird.com](mailto:Community@Taskbird.com) you submissions and questions OR comment below

If you're new here read [How it works](https://github.com/Taskbird/creator-community/blob/main/How%20It%20Works.md) to take the right steps

[2022-03-01 22:04] SamHoffer opened #51 "Clean up After a Death at a Property"
[Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf)

Email [Community@Taskbird.com](mailto:Community@Taskbird.com) you submissions and questions OR comment below

If you're new here read [How it works](https://github.com/Taskbird/creator-community/blob/main/How%20It%20Works.md) to take the right steps

[2022-03-01 22:05] SamHoffer opened #52 "Removing Smoke Smell from a Property: VIDEO & WRTTEN"
[Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf)

Email [Community@Taskbird.com](mailto:Community@Taskbird.com) you submissions and questions OR comment below

If you're new here read [How it works](https://github.com/Taskbird/creator-community/blob/main/How%20It%20Works.md) to take the right steps

[2022-03-01 22:06] SamHoffer opened #53 "Mold Removal: What you need to know: VIDEO & WRITTEN"
[Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf)

Email [Community@Taskbird.com](mailto:Community@Taskbird.com) you submissions and questions OR comment below

If you're new here read [How it works](https://github.com/Taskbird/creator-community/blob/main/How%20It%20Works.md) to take the right steps

[2022-03-02 10:40] Mr254Kenya commented on #13
hello @SamHoffer, hope all is well with you. I'm interested in tackling this issue. Consequently, I have attached a document highlighting how I plan to tackle the blog post. Regards
[Laundry and linen service as part of your business offering.docx](https://github.com/Taskbird/creator-community/files/8168870/Laundry.and.linen.service.as.part.of.your.business.offering.docx)

[2022-03-14 16:23] Mr254Kenya commented on #53
@SamHoffer may be interested in tackling this issue. Just for your clarification, providing video and written work means the video has to be accompanied by a blog post of the usual number of words (above 1000)? Regards

[2022-03-14 23:27] SamHoffer commented on #53
@Mr254Kenya What this entails is that we are in need of a video and a written blog for this topic. The written portion will follow the usual guidelines. As for the video portion the  [Video Guidelines](https://github.com/Taskbird/creator-community/blob/main/Video%20Guidelines.pdf) are outlined but we do encourage creative freedom.

We do not require that both video and written are submitted at the

[2022-03-15 12:34] Mr254Kenya commented on #53
Hello @SamHoffer it was nice to hear from you. Following your clarification, I register an interest to curate a blog post (written) for this particular issue. Consequently, I have supplied you with a general outline of how I plan to approach the issue. Any suggestions on the approach are humbly welcomed. Regard

[Draft Outline Mold Removal_ What you need to know-WRITTEN #53.docx](https://github.co

[2022-03-15 12:53] Mr254Kenya commented on #52
@SamHoffer hello, I also register an interest to provide a blog post (written) for this issue. I have attached the general blog guideline, other suggestions are welcomed. Regards
[Blog Post Guideline_ Removing Smoke Smell from a Property #52.docx](https://github.com/Taskbird/creator-community/files/8253428/Blog.Post.Guideline_.Removing.Smoke.Smell.from.a.Property.52.docx)

[2022-03-16 01:50] SamHoffer commented on #52
@Mr254Kenya Hey, I think this is a great outline, I've made some adjustments, however. Bellow is the outline you've sent me but it has been adjusted to be written for a cleaning company audience or someone who may be considering starting this service.

1.Intro
2.Common areas that may house smoke residue include air ducts, carpets and rags, etc.
3.Tips for smoke smell removal
4.Equipment/products f

[2022-03-16 01:53] SamHoffer commented on #53
@Mr254Kenya Hey, you as well! Similar to the Topic #52 the outline for this great but the only adjustment that needs to be changed is the perspective/ audience. Here's the outline you sent me but with some adjustments.

1.Introduction
2.Signs of mold attack in a house
3.Effects of mold on your health
4.How to prevent the growth of mold at a home
5.How to get rid of mold in a home
6.How professiona

[2022-03-16 05:54] Mr254Kenya commented on #53
Okay, I understand. I will work with the adjustment

[2022-03-16 05:55] Mr254Kenya commented on #52
Thanks for the adjustment, looking forward to working on it. Regards

[2022-04-11 19:24] Mr254Kenya commented on #46
Hello, @SamHoffer hope you are doing well? I request your permission to handle this particular blog post task/issue. Attached is the general article outline. Regards

[Guideline_Best Natural Cleaning Products for Cleaning Companies- Written.docx](https://github.com/Taskbird/creator-community/files/8467131/Guideline_Best.Natural.Cleaning.Products.for.Cleaning.Companies-.Written.docx)

[2022-04-11 19:28] Mr254Kenya commented on #41
Hello @SamHoffer I request your permission to handle this blog post. Attached is the general outline of how I plan to approach the subject. Regards
[Draft Outline-Accounting Software for Your Cleaning Business_ WRITTEN.docx](https://github.com/Taskbird/creator-community/files/8467164/Draft.Outline-Accounting.Software.for.Your.Cleaning.Business_.WRITTEN.docx)

[2022-05-10 19:02] cassiclean opened #54 "Beat the Burnout and Balance your cleaning business"
Running a cleaning company and performing all that physical work oneself can be a lot. Many cleaners quit before they really got a chance to make good money and enjoy their work. Ways to avoid burnout in your cleaning business.

[2022-05-10 19:04] cassiclean commented on #54
I have submitted an outline via email. Waiting on approval.

[2022-10-24 08:59] Mr254Kenya commented on #41
Hello, sir @SamHoffer Hope you are well. I submitted my final draft for this task about three months ago, but I have not yet received feedback. Also, there is another outline you had approved, but I haven't worked on it because I thought we needed to move one task at a time.
Looking forward to hearing from you. Regards